.hero {
    padding-top: 260px;
    padding-bottom: 100px;
    background-image: url(../images/corpoAguaHero.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    .container {
        position: relative;
    }

    &::before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: black;
        content: '';
        opacity: .5;
    }

    &__text {
        margin-bottom: 64px;
        font-size: 40px;
        line-height: 56px;
        color: #fff;
        font-weight: 700;
        text-align: center;
    }

    @media (max-width: 640px) {
        padding: 40px 0;

        &__text {
            font-size: 18px;
            line-height: 20px;
            margin: 20px 0;
        }
    }
}